/* this is a css comment*/
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

header, footer {
    background-color: rgb(183, 234, 234);
}


.highlight {
    color:brown;
}

.navbar {
    list-style-type: none;
    text-decoration: none;
    background-color: rgb(250, 245, 254);
    border: 3px;
    }

   .navbar :hover {
        background-color: rgb(105, 105, 69); 
    }
 

 a { 
    text-decoration: none;

    }

    

#my-image {
    
    box-shadow: 0 0 2px 1px blue ; 
     
    }

    .standard-list {
            list-style-type: square;
        }
        
         
     .standard-list :nth-child(odd)   {
            background: beige;
            
        }