body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

header, footer {
    background-color: rgb(183, 234, 234);
}


.highlight {
    color:brown
}

.navbar {
    list-style-type: none;
    text-decoration: none;
    background-color:rgb(216, 202, 184);
    border:0
    }

   .navbar :hover {
        background-color: rgb(219, 219, 157); 
    }
 

 a { 
    text-decoration: none;

    }

    

#my-image {
    
    box-shadow: 0 0 2px 1px ; 
     
    }

    .standard-list {
            list-style-type: square;
        }
        
         
     ul :nth-child(odd){
            background: beige
            
        }