
body {
    background-color: #aad4cf;
    
        
}

.bg-image {
    width: 844px;
    hight: 200px
}


 .wrapper {
    width: 60%;
    background-color : #c0d3d1;
    margin: auto;
    
}




.container {
    margin: 280px auto;
    width: 90%;
    padding: 8px;
}

img {
   float: left;
    width: 280px;
    height: 300px;
    padding: 0 16px 0 0;
}

footer  {
    text-align: right;
}
h1 {
    text-align: center;
}

