/* css Reset */
ul{
    margin-block-start: 0em;
    margin-block-end: 0em;
}

body {
    background-color: #aad4cf;
    font: 1em sans-serif;
}

.navbar {
    width: calc(55% + 20px);
    margin: auto;
    background-color: #abdfbd;
    padding-top: 12px;
    padding-bottom: 12px;
}

.navbar li {  
    display: inline-block; 
    height: 10px;      
     border-right: 1px solid black; 
     width: 32%;
}

.navbar li:last-child {
    border-right: none;
   }

 #list, a {  
    text-decoration: none;
    text-align: center; 
   }
    

 /* the wrapper is outside of the header and navbar. I used the wrapper for spacing around the main content */
 .wrapper {
    width: 55%;
    background-color: #abdfbd;
    margin: auto;
      padding: 10px;    
       }

h1 {
    position: absolute;
    top: 160px;
     width: 55%; 
    color: white;
    text-align: center;
    font-size: 3em;
}

 .container { 
   width: auto;
   margin: 0 auto; 
   }

/* this is the image in a container. I used the float to place the image on the left, and paragraph on the right so as to have the 
content wrap the image */
div img { 
    width: 40%;
    height: 360px;
    float: left;
    padding: 10px;
}

header {
    width: calc(55% + 20px);
    margin: auto;
    display: flex;
}

header img {
   width: 100%;
    height: 320px; 
     padding: 0 2px 0 0; 
     
    }
#fullname, #email { 
    width: 98%; 
    border-radius: 1px;
    padding: 2px;
    border: 1px solid #ccc;
  }
    #message { 
    width: 98%;
    height: 70px;
    border-radius: 1px;
    padding: 2px;
    border: 1px solid #ccc;
    }

      .border {
    width: 98%;
    height: 320px;  
    padding: 4px; 
    border: 1px solid #262525;
    }

footer  {
    text-align: right;
}

