
body {
    background-color: #aad4cf;
    padding: 15px;
    
        font-family:'Times New Roman', Times, serif;
}

.display li  {
display: inline-block;
    
    /* height: 10px;     */
    border-right: 0.1px solid black;
}
   

.wrapper {
    width: 55%;
    background-color: #abdfbd;
    margin: auto;
    padding: 15px; 
    /* height: 100px; */
    
   
    
}

h1 {
    position: absolute;
    top: 200px;
     width: 55%; 
    color: white;
    text-align: center;
}


.container { 
   width:100%;
   margin: 0 auto;
   padding-left: 2px;
   padding-right: 6px;
  
}


div img { 
    width: 40%;
    height: 320px;
    float: left;
    padding: 6px;
}

header img {
    /* float: left;  */
    width: 100%;
    height: 320px;
     padding: 0 2px 0 0;
 }

 #fullname { 
     width: 98%; 
    border-radius: 1px;
    /* box-sizing: border-box; */
    padding: 2px;
    border: 1px solid #ccc;
  }


   #email { 
    width: 98%; 
   border-radius: 1px;
   /* box-sizing: border-box; */
   padding: 2px;
   border: 1px solid #ccc;
 }
  
 
   #message { 
    width: 98%;
    height: 70px;
    border-radius: 1px;
    /* box-sizing: border-box; */
    padding: 2px;
    border: 1px solid #ccc;
    
  }

  .border {
    width: 100%;
    height: 252px;  
    padding: 4px;
    border: 1px solid #262525;
  }




footer  {
    text-align: right;
}

