html, body, div, span, applet, object, iframe,
/* h1, h2, h3, h4, h5, h6, */
 p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Spectral', serif;
}
.wrapper1 {
background-color: #222; 
/* width: 60%; */
margin: 0 auto;
max-width: 850px;
height: 520px;
 padding: 4px; 
/* height: 400px; */


}


.container { 
     /* width: 800px; */
     margin: 0 auto;
	 padding: 10px; 
	 /* height: 400px; */

} 
.himage {
    background-color:#c78c06 ;
	height: 180px;
}
.navbar {
	display: flex;
	flex-direction: column;
}
li a {
	display: flex;
	justify-content: center;
	justify-content: space-evenly;
	padding: 19px;

}
 
.wrapper2 {
	/* width: 60%; */
	margin: 0 auto;
	max-width: 850px;
	padding: 10px;
}
.wrapper3 {
	
	margin: 0 auto;
}

.container1 {
	background-image: url('../images/main-banner.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	height: 300px;
	padding: 30px 0;
	margin: 0 auto;
}

.welcome {
	background-color: rgba(102, 94, 94, 0.6) ;
	/* width: 60%; */
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 10px;
	
}

.button {
	background-color: #c78c06;
	padding: 30px;
	border: none;
	
}
.about {
	background-color: #ffe6ac;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 8px;
	padding-bottom: 12px;
}
.imgabout {
	width: 100%;
}
.search {
	display: flex;
}

.search input {
	width: calc(100% - 20px);
	padding: 12px;
}
.service {
	background-color: #ffe6ac;
	padding-bottom: 10px;
}
#imgservice {
	width: 100%;
	padding-bottom: 30px;
}
.button2 {
	background-color: #2d2d2b;
	padding: 30px;
	border: none;
	color: white;	
}

.marketing {
	background-color:#ffe6ac;
	
	
}
.imgmarketing {
	width: 100%;
	
	
}
.button3 {
	background-color: #2d2d2b;
	padding: 30px;
	border: none;
	color: white;	
}
.sec {
	padding-top: 10px;
	margin: auto;
}
.product{
	background-color: #ffe6ac;
	

}
.imgvideo {
	width: 100%;
	padding-bottom: 15px;

}
.buttonplans {
	background-color: #2d2d2b;
	padding: 30px;
	border: none;
	color: white;

}
.sec2 {
	padding-top: 10px;
	padding-bottom: 10px;
}
.imgdev {
	width: 100%;
	padding-bottom: 35px;

}
.dev {
background-color: #ffe6ac;
	
}
.buttondev {
	background-color: #2d2d2b;
	padding: 30px;
	border: none;
	color: white;
}

.imgprint{
	width: 100%;
	padding-bottom: 35px;

}
.print {
background-color: #ffe6ac;
	
}
.buttonprint {
	background-color: #2d2d2b;
	padding: 30px;
	border: none;
	color: white;

}
.sec3 {
	padding-top: 10px;
	padding-bottom: 15px;
}
.wrapper3 {
	margin: 0 auto;
	max-width: 900px;
	padding: 10px;
}


.container2 {
	background-image: url('../images/vision.jpg');
	background-repeat: no-repeat;
	background-position: center;
	 background-size: 100%;
	height: 200px;
	 padding: 30px 0;
	margin: 0 auto;
	/* padding-left: 20px; */
	/* padding-bottom: 20px; */
	
}
.vision {

	/* width: 60%; */
	padding-top: 50px;
	padding-bottom: 70px;
	padding-left: 10px;
}
.buttonvision {
	background-color: #2d2d2b;
	padding: 30px;
	border: 1px solid;
	border-color: ;
	color: white;
}

.wrapper4 {
	margin: 0 auto;
	max-width: 850px;
	padding: 10px;
}
.imgjohn {
	width: 100%;
	

}
.john1 {
	background-color:#ffe6ac;
	margin-bottom: 10px;
	margin-top: 10px;

}
hr {
color:  #c78c06;
	max-width: 840px;
}

.imgbob {
	width: 100%;
	

}
.bob{
	background-color: #ffe6ac;
	margin-bottom: 10px;
	margin-top: 10px;
	
}


#fullname, #email { 
  width: 100%;
    border-radius: 3px;
    padding: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	/* height: 30px; */
    border: 1px solid black;
  }
  #message { 
   width: 100%;
    height: 140px;
    border-radius: 3px;
    padding: auto;
    border: 1px solid black;
    }

/* .forms { */
    /* width: 98%; */
    /* height: 320px;   */
    /* padding: 4px;  */
    /* border: 1px solid #262525; */
    /* } */
.grid-container {
	display: grid;
	grid-template-columns: 100% 2fr 2fr 2fr;
	padding-top: 10px;
	padding-bottom: 10px;
	/* max-width: 1000px; */

	grid-template-rows:  auto auto auto;
	
}
.grid-item {
	
	border: 1px solid;
		padding: 20px;
		
}
.table {
	background-color: #ffe6ac;

}
iframe {
    border: 0;
    width: 100%;
    height: 480px;
	border-radius:  2px;
	padding-bottom: 10px;
}
/* .wrapper5 { */
	/* margin: 0 auto; */
	/* max-width: 900px; */
	/* padding: 5px; */
	/* background-color: #222; */
	/* height: 80px; */
	/* padding-bottom: 10px; */

/* } */

.wrapper5 {
	max-width: 900px;
	margin: auto;
	padding: 10px;
	padding-bottom: 20px;
}
.container4 {
	/* margin: auto; */
	background-color: #222;
	color: #c78c06;
	
	/* padding-bottom: 30px; */
	/* padding-left: 5px; */
	padding: 30px;
}


/* #c78c06, #ffe6ac, #222 */