html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, 
 p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
	font-family: 'Open Sans', sans-serif;
 /* font-family: 'Pacifico', cursive; 
font-family: 'Roboto', sans-serif;
font-family: 'Spectral', serif;  */
font-size: 1.1rem;
}
h1	 {
	font-size: 4em; 
	font-weight: 2.5em;
	padding: 6px;
					   
		   }
h2 {
	font-size:2.5em ;
   font-weight: 1.5em;
   padding: 6px;
   }
h3 {
font-size: 2em;
font-weight: 2em;
padding: 6px;
   }
.wrapper1 {

margin: 0 auto;
max-width: 850px;
margin-top: 10px;
 /* margin-right: 5px;
margin-left: 5px;  */
padding: 10px;
}
.container { 
	/* width: 800px; */
	margin: 0 auto;
	padding: 15px; 
	background-color: #222;
	/* height: 400px; */
	
}

.himage {
background-color:#c78c06 ;
height: 130px;
}

.current a {
	background-color:#c78c06;
	color: black;
}

/* .himage :nth-child(1) {
	color: black;   
	
	
} */
 .navbar  {
		display: flex;
		flex-direction: column;
		list-style: none;
}  
 
 li a {
		display: flex;
		justify-content: center;
		justify-content: space-evenly;
		padding: 25px;
		color: #c78c06;
		text-decoration: none; 
		
		
	} 
	

.wrapper2 {
		     /* width: 60%; */
			margin: 0 auto;
			max-width: 850px;
			/* margin-left: 5px;
	         margin-right: 5px;   */
			 padding: 10px;
			}

 
.container1 {
			 background-image: url('../images/main-banner.jpg');
			background-repeat: no-repeat;
			background-position: center;
			/* background-size: cover 100%; */
			/* height: 300px; */
			padding: 60px 0;
			margin: 0 auto;
			
    }
			
.welcome {
           background-color: rgba(38, 36, 36, 0.6) ;
			 padding-top: 20px; 
			 padding: 15px;
			 color: white;
			 margin: 0 auto;
				}
				/* .welcome :nth-child(1) */
 
			
			.button {
				background-color: #c78c06;
				padding: 45px;
				width: 250px;
				
				border: none;
				}

			.about {
				background-color: #ffe6ac;
				padding-top: 8px;
				padding-bottom: 12px;
				padding: 15px;
			}
			.imgabout {
				width: 100%;
			}
			 .search {
				display: flex;
				
			} 
			

.search input {
	width: calc(100% - 30px);
	padding: 10px;
	
}

.service {
	background-color: #ffe6ac;
	padding-bottom: 10px;
}
.containera {

	/* padding-left: 10px; */
	padding: 15px;
}
.containera :nth-child(2) {
	 padding-bottom: 10px; 
	
}


#imgservice {
	width: 100%;
	padding-bottom: 30px;
}
.button2 {
	background-color: #2d2d2b;
	padding: 40px;
	border: none;
	color: white;
	width: 200px;	
	margin: auto;
}

.marketing {
	background-color:#ffe6ac;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
	
	
.imgmarketing {
	width: 100%;
	
	
}
.button3 {
	background-color: #2d2d2b;
	padding: 40px;
	border: none;
	color: white;	
	width: 200px;
	margin: auto;
}

	/* .containerb {
		padding-left: 10px;

	}
	

	.containerb :nth-child(2) {
		padding-bottom: 10px;
	}
	 */



.product{
	background-color: #ffe6ac;
	padding-bottom: 10px; 


}
.imgvideo {
	width: 100%;
	padding-bottom: 10px; 

}
.buttonplans {
	background-color: #2d2d2b;
	padding: 40px;
	border: none;
	color: white;
	width: 200px;
	margin: auto;

}
 
.imgdev {
	width: 100%;
	padding-bottom: 35px;
	
}
.dev {
background-color: #ffe6ac;
margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;

	
}
.buttondev {
	background-color: #2d2d2b;
	padding: 40px;
	border: none;
	color: white;
	width: 200px;
	margin: auto;
}

.imgprint{
	width: 100%;
	padding-bottom: 35px; 

}
.print {
background-color: #ffe6ac;
padding-bottom: 10px;
	
}
.buttonprint {
	background-color: #2d2d2b;
	padding: 30px;
	border: none;
	color: white;
	width: 200px;
	margin: auto;

}
 
  .wrapper3 {
	margin: 0 auto;
	max-width: 900px;
	padding: 10px;
	
 }  
	

.container2 {
	background-image: url('../images/vision.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover 100%;
	/* height: 200px;  */
	padding: 30px 0;
	margin: 0 auto;
	
}

 .vision {


	padding-top: 50px;
	padding-bottom: 30px;
	padding-left: 15px;
	color:  white;
	
	
} 

.buttonvision {
	background-color: #2d2d2b;
	padding: 40px;
	border: 1px solid; 
	border-color:  #ffe6ac;
	width: 240px;
	height: 110px;
	margin-top: 15px;
	color: white;
}

.wrapper4 {
	margin: 0 auto;
	max-width: 850px;
	padding: 10px;
	
}
.imgjohn {
	width: 100%;
	

}
.john1 {
	  /* background-color:#ffe6ac;   */
	margin-bottom: 10px;
	margin-top: 10px;
	padding-bottom: 10px;

}
hr {
    max-width: 840px;
	border: 1px solid #c78c06;
	
}
.containerb {
	padding: 15px;
	background-color: #ffe6ac;
	}
	.containerc {
		padding: 15px; 
		background-color: #ffe6ac;
	}	
.imgbob {
	width: 100%;
	
}

.bob{
	/* background-color: #ffe6ac; */
	margin-bottom: 10px;
	margin-top: 10px;
	}


#fullname, #email { 
   width: 100%;
   margin-top: 10px;
  border-radius: 2px;
 padding-top: 12px;
	padding-bottom: 12px;
    border: 1px solid black;
	
	

  }
  #message { 
   width: 100%;
    height: 140px;
    border-radius: 2px;
    padding-top: 12px;
    border: 1px solid black;
	margin-top: 10px;

	
	
	}

	.send {
		color: #c78c06;
		background-color: #222;
		height: 40px;
		width: 65px;
	}


.grid-container {
	display: grid;
	grid-template-columns: 100% 2fr 2fr 2fr;
	padding-top: 10px;
	padding-bottom: 10px;
	/* max-width: 1000px; */

	grid-template-rows:  auto auto auto;
	
}
.grid-item {
	
	border: 1px solid;
		padding: 20px;
		
}
.table {
	background-color: #ffe6ac;

}
iframe {
    border: 0;
    width: 100%;
    height: 480px;
	border-radius:  2px;
	padding-bottom: 10px;
}

.wrapper5 {
	max-width: 900px;
	margin: auto;
	padding: 10px;
	padding-bottom: 20px;
}
.container4 {
	/* margin: auto; */
	background-color: #222;
	color: #c78c06;
	
	/* padding-bottom: 30px; */
	/* padding-left: 5px; */
	padding: 30px;
}


/* #c78c06, #ffe6ac, #222 */

@media screen and (min-width: 760px){

	body {
		font-family: 'Open Sans', sans-serif;
        font-size: 1.3rem;
	}
	h1	 {
		font-size: 5em; 
		font-weight: 3em;
		padding: 20px;
						   
			   }
	h2 {
		font-size:3.5em ;
	   font-weight: 2.5em;
	   padding: 8px;
	   }
	h3 {
	font-size: 2em;
	font-weight: 2em;
	padding: 8px;
	}


	.wrapper1 {
		max-width: 1200px;
		}

	.wrapper2 {
	   max-width: 1200px;
	}

	.wrapper3 {
		max-width: 1200px;		
	}  

	.wrapper4 {
		max-width: 1200px;		
	}

	.wrapper5 {
		max-width: 1200px;		
	}

	.navbar  {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}  

	.himage {
		display: flex;
	}

	.about {
		display: grid;
		grid-template-columns: auto auto;
		background-color: #ffe6ac;
		padding-left: 60px;
		
	}
	.about :nth-child(2) {
		padding-left: 5px;
		padding-bottom: 10px;
	}


	.our-services {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(2, 1fr);
		gap: 18px;

	}

	.our-services .service {
		grid-column: 1 / span 3;
	}
	
	.our-services .marketing {
		grid-column: 4 / span 3;
	}

	.our-services .product {
		grid-column: 1 / span 2;
	}

	.our-services .dev {
		grid-column: 3 / span 2;
	}

	.our-services .print {
		grid-column: 5 / span 2;
	}


	.dev {
		margin-top: 0;
			margin-bottom: 0;
			padding-bottom: 10px;
		
			}
			.grid {
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr / span 4; 
				
			}

			.item-1 {
				order: 1;
			}

			.item-1 {
				grid-column: 1 / span 3;
			}
			#fullname, #email { 
				width: 90%;
			
				} 
				 
				 #message { 
					width: 90%;
					
					}
					
		.vision {
             padding: 20px;
			margin-left: 60px;
			margin-right: 40px;
		}
		.team-flex {
			display: flex;
			/* flex-wrap: wrap;  */
		flex-direction: row-reverse;
		
		
		  }
      }